.button {
    text-decoration: none;
    font-size: 1rem;
    padding: 4px 8px;
    background-color: #ffa07a;
    outline: none;
    border: none;
    color: white;
    border-radius: 7px;
    font-family: Arial, sans-serif; 
    transition:
        transform 0.1s ease-in-out,
        box-shadow 0.1s ease-in-out;
    cursor: pointer;
}

.button:hover {
    transform: translateY(-0.5px) translateX(0.5px);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}
