.container {
    background-image: linear-gradient( 174.2deg,  rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% );
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding: 50px;
    text-align: center;
    font-family: Georgia, sans-serif;
}


.picNameBioHeader {
    margin-bottom: 100px;
}


.profilePicture {
    height: 150px;
    margin-top: -35px;
    margin-bottom: 25px;
    border-radius: 70% 45% 70% 45%;
    animation: imgFloat 3s ease-in-out infinite;
}


@keyframes imgFloat {
    50%{
        transform: translateY(10px);
    border-radius: 45% 55% 45% 55%;
}
}


.name {
    font-size: 28px;
    color: black;
}


.bio {
    font-size: 18px;
    color: black;
    margin-top: 10px;
}


.profileDetails {
    margin-top: 20px;
    color: black;
}


.profileDetails h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: black;
}


.socialMedia {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 50px;
}


.socialIcon {
    display: flex;
    justify-content: center;
    height:45px;
    cursor: pointer;
}




.editLogoutSaveCancelSection {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 10px;
}


.editButton, .logoutButton {
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.editButton {
    background-color: mediumseagreen;
    color: white;
}


.editButton:hover {
    background-color: darkolivegreen;
}


.logoutButton {
    background-color: orangered;
    color: white;
}


.logoutButton:hover {
    background-color: darkred;
}


.homeButton{
    background: none;
    border: none;
    padding: 0;
    font-size:28px;
    font-weight: bold;
    color: royalblue;
    cursor: pointer;
    text-decoration: none;
}


.homeButton:hover {
    color: darkblue;
}


.homeButtonSection{
    position: absolute;
    top: 15px;
    left:150px;
}


.chefHat {
    width: 60px;
    height: 60px;
    margin-right: 8px;
    position: relative;
    top: 10px;


}


.bioEdit {
    width: 60%;
    height: 100px;
    padding: 10px;
    font-size: 16px;
    margin-top: 15px;
    border-radius: 10px;
}


.saveButton, .cancelButton {
    padding: 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}


.saveButton {
    background-color: mediumseagreen;
    color: white;
}


.saveButton:hover {
    background-color: seagreen;
}


.cancelButton {
    background-color: gray;
    color: white;
}


.cancelButton:hover {
    background-color: darkgray;
}


.additionalInfoBox {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: left;
    width: 70%;
    margin: 20px auto;
}


.additionalInfoBox h3 {
    font-size: 25px;
    margin-bottom: 15px;
    color: #333;
}


.additionalInfoBox p {
    font-size: 16px;
    color: #555;
    margin: 5px 0;
}



