.container {
    background-image: linear-gradient( 174.2deg,  rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% );
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding: 50px;
    text-align: center;
    font-family: Georgia, sans-serif;
}


.header {
    text-align: center;
    margin-bottom: 30px;
}


.title {
    font-size: 40px;
    color: darkorange;
}

.cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 380px;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
}


.eventCard {
    border: 1px solid whitesmoke;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    width: 300px;
    height: 750px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    text-align: center;
}

.eventCard:hover {
    transform: scale(1.05);
    cursor: pointer;
}


.eventTitle {
    font-size: 24px;
    font-weight: bold;
    color: black;
    margin: 10px;
    text-align: center;
}

.eventDate {
    font-size: 15px;
    color: black;
    font-style: italic;
    text-align: center;
}

.detailsHeader {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}
.eventDetails {
    margin-top: 30px;
    padding: 15px;
    background-color: ghostwhite;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    min-height: 165px;

}

.eventDescription {
    font-size: 15px;
    color: black;
    line-height: 1.3;
    margin: 0 0 10px;
}

.eventRules {
    font-size: 13px;
    color: -moz-mac-chrome-active;
    line-height: 1.4;
}

.eventImage {
    width: 100%;
    height: 195px;
    object-fit: cover;
}

.signupButton {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: auto;
    cursor: pointer;
}

.shareButton {
    position: absolute;
    bottom: 16px;
    right: 80px;
    width: 40px;
    height: auto;
    cursor: pointer;
}

.usernameDisplay {
    margin-top: 16px;
    padding: 8px;
    border: 1px solid #ddd;
    background-color: whitesmoke;
    font-size: 1em;
    color: black;
    text-align: center;
}

.itemInputContainer {
    display: flex;
    align-items: center;
    margin-top: 12px;
}

.itemInput {
    padding: 5px;
    font-size: 1em;
    margin-right: 10px;
    border: 1px solid #ddd;
}

.submitButton {
    padding: 3px 8px;
    font-size: 1em;
    background: rgb(240,120,0);
    background: linear-gradient(90deg, rgba(240,120,0,1) 10%, rgba(255,204,121,1) 58%, rgba(255,190,60,1) 100%);
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.itemDisplay {
    margin-top: 10px;
    padding: 8px;
    border: 1px solid #ddd;
    background-color: whitesmoke;
    font-size: 1em;
    color: black;
    text-align: center;
}
.calendarContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 75px;
    background-color: red;
    color: white;
    border-radius: 10px;
    margin: 0 auto 15px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: center;
}

.calendarDay {
    font-size: 29px;
    line-height: 1.2;
}

.calendarMonthYear {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    background: white;
    padding: 30px;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
    text-align: center;
    position: relative;
}

.modalImage {
    width: 90%;
    height: auto;
    margin-top: 20px;
    border-radius: 8px;
}

.modalText {
    margin-top: 20px;
    font-size: 1em;
    color: black;
}
.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 1.2em;
    cursor: pointer;
}

.copyButton {
    margin-top: 10px;
    padding: 10px;
    background: orangered;
    color: white;
    border: none;
    font-size: 17px;
    cursor: pointer;
}

.copyButton:hover {
    background: coral;
}
